
.homepage-container {
    padding: 0px;
    text-align: center;
    background-color: #1A2A42;
}


.benefits {
    margin-top: 40px;
    color: #FFFFFF;
    
}

.benefits h2 {
    color: #FFD700;
    margin-bottom: 30px;
    
}



.benefits h4 {
    color: #FFD700;
}

.benefits i {
    font-size: 2em;
    color: #FFD700;
    margin-bottom: 10px;
}














 