/* src/components/Navbar/Navbar.css */

/* Vlastné pozadie pre Navbar */
.navbar {
    border-bottom-color: #D4AF37;
    
    border-bottom-color: #D4AF37;
}


.navbar.bg-custom {
    background-color: #1A2B48; 
  }
  
  /* Logo */
  .logo-img {
    height: 40px;
  }
  
  .navbar-brand span {
    color: #D4AF37; /* Zlatá farba */
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Navigačné odkazy */
  .nav-link {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .nav-link:hover {
    color: #D4AF37;
  }
  
  /* Vyhľadávacie pole */
  .form-control {
    background-color: #F2F2F2;
    border: none;
    color: #1A2B48;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .btn-search {
    background-color: #D4AF37;
    color: #1A2B48;
    border: none;
  }
  
  .btn-search:hover {
    background-color: #B29700;
    color: #FFFFFF;
  }
  
  /* Ikona košíka */
  .nav-link .bi {
    font-size: 1.5rem;
  }
  
  .badge.bg-gold {
    background-color: #D4AF37;
    color: #1A2B48;
    font-size: 0.75rem;
    padding: 4px 6px;
  }
  
  /* Responzívne úpravy pomocou Bootstrap tried */
  