.navbar {
    background-color: wheat;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a; 
}

.nav-link {
    color: #4a4a4a; 
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #d3b999; 
    color: #ffffff; 
}
