

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A2A42;
}


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav a {
  color: white; 
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}




.App {
  padding: 0px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
}

/*
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .App {
    padding: 10px;
  }

  p {
    padding: 1em;
  }


}*/
